@import url('https://fonts.googleapis.com/css2?family=Chathura:wght@100;300;400;700;800&display=swap');

* {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: black;
}

img {
  max-width: 100%;
}

section {
  max-width: 800px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.container {
  display: flex;
}

.container--column {
  flex-direction: column;
  row-gap: 1rem;
}

.container--row {
  flex-direction: row;
  justify-content: center;
  column-gap: 1rem;
}

.container--wrap {
  flex-wrap: wrap;
  row-gap: 0.5rem;
}

.experience {
  padding: 2rem;
  border-style: outset;
  border-width: 10px 1px 1px 1px;
  border-color: #ffb3af;
  border-radius: 20px;
  background-color: #201f1f;
}

.experience__bullet {
  list-style: disc;
  margin-left: 1rem;
  color: #e9bcb9;
}

.experience__employer {
  margin-bottom: 1.5rem;
  color: #e9bcb9;
}

.experience__title {
  font-size: 1.728rem;
  margin-bottom: 0.5rem;
  color: #e5e2e1;
}

.hero__button {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ff0033;
  border-radius: 20px;
  color: white;
  margin-top: 3rem;
}

.hero__title {
  text-align: center;
  font-size: 2.986rem;
  font-weight: bold;
  color: #e5e2e1;
}

.hero__subtitle {
  text-align: center;
  font-size: 2.986rem;
  font-weight: bold;
  color: #90001a;
}

.hero__paragraph {
  text-align: center;
  color: #e5e2e1;
}

.page > * {
  max-width: 800px;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.profile_pic {
  display: block;
  margin: auto;
}

.skills {
  background-color: #201f1f;
  border-radius: 20px;
  padding: 2rem;
}

.skills__item {
  color: #e5e2e1;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #43474e;
  border-radius: 30px;
  font-family: "Chathura", 'sans-serif';
  font-size: 1.5rem;
}

.skills__title {
  font-size: 1.728rem;
  margin-bottom: 1rem;
  color: #fffffe;
}

.work_experience {
  background-color: #201f1f;
}

.hero__title--red {
  color: #ffb3af;
}

.hero__paragraph--red {
  color: #e9bcb9;
}

.hero__button--black {
  background-color: #201f1f;
}

.page--black {
  background-color: #201f1f;
}